.form-container {
  max-width: 60rem;
  width: 100%;
  position: fixed;
  top: 50%;
  left: 50%;
  border-radius: 4px;
  transform: translate(-50%, -50%);
  background: #fff;
  z-index: 99;
  overflow-y: auto;
  max-height: 100%;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

  .form-title {
    border-bottom: 1px solid #eee;
    padding: 2rem 1.5rem;
    margin-bottom: 2rem;

    .close-form {
      color: rgb(140, 122, 122);
      font-size: 2rem;
      padding: 0;
    }
  }

  .justify-right {
    display: block;
    margin-left: auto;
  }

  h3 {
    display: flex;
    justify-content: space-between;
    font-weight: 500;
  }

  .form-footer {
    margin-top: 2rem;
    border-top: 1px solid #eee;
    padding: 2rem 1.5rem;
    text-align: right;

    .cancel-btn,
    .save-btn {
      padding: 1.5rem 2rem;
      font-size: 16px;
    }

    .cancel-btn {
      background: rgb(88, 81, 81);
    }

    .save-btn {
      background: #4c98fd;
    }
  }
}
